/*laptop screens*/

#backdrop{
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}
.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1% 3%;
}
.navlinks ul{
  display: flex;
  flex-direction: row;
  column-gap: 6%;
}
.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 12%; 
}
#p1{
  margin-top: 2%;
}
#mainbtn{
  margin-top: 2%;
}