.sec6{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
  width: 100%;
}
.sec6head{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 40%;
}
.sec6head img{
  width: 30%;
}
#white-link{
  font-size: 13px;
  width: 170px;
  height: 45px;
  background:#ffffff;
  padding: 12px 10px;
 color: black;
 border: 1px solid rgb(100, 100, 100);
 border-radius: 5px;
 white-space: nowrap;
}
#blue-link2{
  font-size: 13px;
  width: 170px;
  height: 45px;
  background: #0F53FA;
  padding: 12px 10px;
 color: white;
 border-radius: 5px;
 white-space: nowrap;
}
#line{
  margin-top: 3%;
  width: 92%;
}
.sections{
  margin-top: 2%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10%;
  width: 100%;
}
.price p{
  padding-right: 30%;
}
@media screen and (max-width: 1024px) {
  
}
@media screen and (max-width: 768px) {
  .sec6head{
    column-gap: 10%;
  }
  .sections{
    column-gap: 6%;
  }
}
@media screen and (max-width: 425px) {
  .sections {
    padding: 0 2%;
    column-gap: 4%;
  }
  .sections h3{
    font-size: 16px;
  }
  .storage p{
    font-size: 13px;
  }
  .price h2{
    font-size: 18px;
  }
  .price p{
    font-size: 13px;
  }
  #blue-link2{
    font-size: 10px;
    width: 40%;
    height: 20%;
    background: #0F53FA;
    padding: 3% 4%;
   color: white;
   border-radius: 5px;
   white-space: nowrap;
  }
  #white-link{
    font-size: 10px;
    width: 40%;
    height: 20%;
   
    padding: 3% 4%;
  }
  .price p{
    padding-right: 0;
  }
  .sec6head{
    padding: 0 2%;
    column-gap: 2%;
  }
}
@media screen and (max-width: 375px) {
  
}
@media screen and (max-width: 320px) {
  .sections h3{
    font-size: 13px;
  }
  .storage p{
    font-size: 10px;
  }
  .price h2{
    font-size: 16px;
  }
  .price p{
    font-size: 10px;
  }
}