.sec7{
  margin-top: 5%;
}
.sec7main{
  
  padding: 10% 3% 0 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
#footerbg{
  position: absolute;
  z-index: -1;
  width: 100%;
}
.part1{
  display: flex;
  flex-direction: column;
}
.part2{
  display: flex;
  flex-direction: column;
}
.part3{
  display: flex;
  flex-direction: column;
}
.part4{
  display: flex;
  flex-direction: column;
}
.part1 img{
  width: 15%;
}
#footerbtn{
  font-size: 13px;
  padding: 2% 0;
  width: 20%;
  text-align: center;
  background: #0F53FA;
 color: white;
 border-radius: 5px;
}
#white{
  color: white;
}