.sec7{
  margin-top: 5%;
}
.sec7main{
  
  padding: 10% 3% 0 3%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10%;
}
#footerbg{
  position: absolute;
  z-index: -1;
  width: 100%;
}
.part1{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  
}
#part1text{
  padding-right: 20%;
  color: #7c8087;
}
.part2{
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.part3{
  row-gap: 10px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
.part4{
  row-gap: 10px;
  display: flex;
  flex-direction: column;
}
.part4text{
  padding-right: 10%;
}
.part1 img{
  width: 20%;
}
#footerbtn{
  font-size: 13px;
  padding: 2% 0;
  width: 30%;
  text-align: center;
  background: #0F53FA;
 color: white;
 border-radius: 5px;
}
#white{
  color: white;
}
#parthead{
  color: #7c8087;
}
#gold{
  color: goldenrod;
}
.sec7bottom{
 margin-top: 6%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footerline{
  width: 92%;
}
.inner{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 700px;
  margin-top: 2%;
}
.inner p{
  color: #7c8087;
  font-size: 13px;
}
@media screen and (max-width: 1024px) {
  
}
@media screen and (max-width: 768px) {
  
}
@media screen and (max-width: 425px) {
  
}
@media screen and (max-width: 375px) {
  
}
@media screen and (max-width: 320px) {
  
}