.sec7{
  margin-top: 5%;
}
.sec7main{
  padding-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#footerbg{
  position: absolute;
  z-index: -1;
  width: 100%;
}
.part1{
  display: flex;
  flex-direction: column;
}
.part2{
  display: flex;
  flex-direction: column;
}
.part3{
  display: flex;
  flex-direction: column;
}
.part4{
  display: flex;
  flex-direction: column;
}
.part1 img{
  width: 15%;
}
#white{
  color: white;
}