.sec5{
  margin-top: 5%;
}
#back{
  position:absolute;
  z-index: -1;
  width: 100%;
}
.mainsec5{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.mainsec5 h2{
  font-size: 30px;
  font-weight: 700;
  margin-top: 8%;
}
.mainsec5 p{
  font-size: 16px;
  font-weight: 400;
  color: #7C8087;
  margin-top: 2%;
  padding: 0 36%;
  text-align: center;
}
.container{
  margin-top: 5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2%;
  row-gap: 5%;
}
.container img{
  border-radius: 8px;
  transition: all 0.5s;
}
.container img:hover{
  transform: translateY(-10px);
  box-shadow: 0px -9px 15px rgba(0, 0, 0, 0.1), 0px 9px 15px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 1024px) {
  .sec5{
    background: rgb(253, 240, 213);
    padding-bottom: 20%;
  }
  .container{
    margin-top: 5%;
    column-gap: 1%;
    row-gap: 5%;
    margin-left: 4%;
  }
  .container img{
    border-radius: 8px;
    transition: all 0.5s;
    width: 90%;
  }
  .mainsec5 p{
    padding: 0 25%;
  }
}
@media screen and (max-width: 768px) {
  .container{
    margin-top: 5%;
    column-gap: 1%;
    row-gap: 5%;
    margin-left: 0;
  }
  .container img{
    border-radius: 8px;
    transition: all 0.5s;
    width: 100%;
  }
}
@media screen and (max-width: 425px) {
  #back{
    display: none;
  }
  .container{
    margin-top: 5%;
    column-gap: 1%;
    row-gap: 5%;
    grid-template-columns: 1fr 1fr;
    margin-left: 4%;
  }
  .container img{
    border-radius: 8px;
    transition: all 0.5s;
    width: 90%;
  }
  .mainsec5 p{
    padding: 0 20%;
  }
}
@media screen and (max-width: 375px) {
  
}
@media screen and (max-width: 320px) {
  .mainsec5 h2{
    text-align: center;
  }
  .mainsec5 p{
    font-size: 13px;
    padding: 0 10%;
  }
}